@model GamePlatform.Domain.DTO.ShoppingCartDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (Model.TotalPrice > 0)
{
    <form method="post" asp-action="Order" asp-controller="ShoppingCarts">
        <button type="submit">Order</button>
    </form>
}

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Game
            </th>
            <th>
                Price
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0; i<Model.Games.Count; i++)
        {
            var item = Model.Games[i];
            <tr>
                <td>@(i+1)</td>
                <td>@item.Game.GameTitle</td>
                <td>$@item.Game.Price</td>
                <td>
                    <a asp-action="DeleteFromShoppingCart" asp-controller="ShoppingCarts" asp-route-id="@item.GameId" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        @if (Model.Games.Count() != 0)
        {
            <tr>
                <th>Total price:</th>
                <th></th>
                <th>$@Model.TotalPrice</th>
                <th></th>
            </tr>
        }
    </tfoot>
</table>